* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color: yellow; */
}

.slider {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: auto 0;
  width: 60em;
  height: 30em;
  /* background-color: tomato; */
  overflow: hidden;
}

.nav {
  display: flex;
  width: 10em;
  height: 2em;
  margin: auto 0 1em 0;
}

.nav-item {
  height: 2em;
  width: 4em;
  background-color: rgb(6, 63, 63);
  margin: 0.5em;
  border-radius: 30%;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  opacity: 1;
  transform: scale(1.1);
}

.radio-button {
  display: none;
}

.slide {
  width: 25%;
  transition: all 0.5s ease-in-out;
}

.slides {
  display: flex;
  width: 400%;
  height: 80%;
}

.meme-img {
  width: 100%;
  height: 100%;
}

#s1:checked ~ .memes1 {
  margin-left: 0;
}
#s2:checked ~ .memes1 {
  margin-left: -25%;
}

#s3:checked ~ .memes1 {
  margin-left: -50%;
}
#s4:checked ~ .memes1 {
  margin-left: -75%;
}
