* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 235, 249);
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 1em 2em auto 2em;
  max-width: 27em;
  height: 40em;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.text-content {
  width: 20em;
  display: flex;
  align-self: center;
  color: rgb(77, 6, 71);
  margin-left: 0em;
  overflow: hidden;
}

.mem-text {
  font-weight: 700;
  font-size: 1.1em;
  min-width: 20em;
  transition: all 0.3s ease-in-out;
}

.mem-text:first-child {
  margin-left: -60em;
}

.nav-items {
  display: flex;
}

.nav-item {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  margin: 1em 0.2em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  padding: 0.4em;
}

.nav-item:hover div {
  background-color: rgb(77, 6, 71);
}

.nav-item:active div {
  background-color: yellow;
}

.nav-item:active .div_1 {
  border: none;
}

.radio-button {
  display: none;
}

.slide {
  width: 25%;
  height: 28em;
  transition: all 0.5s ease-in-out;
  border: 0.1em solid yellow;
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
  margin-bottom: 2em;
}

.memes1 {
  border-radius: 5%;
  background: url("./img/1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.memes2 {
  border-radius: 5%;
  background: url("./img/2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.memes3 {
  border-radius: 5%;
  background: url("./img/3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.memes4 {
  border-radius: 5%;
  background: url("./img/4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.div_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 0.1em solid rgb(77, 6, 71);
  margin: 0;
}

.div_2 {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
  border-radius: 50%;
}

#s1:checked ~ .slides > .memes1 {
  margin-left: 0;
}

#s1:checked ~ .nav > .text-content {
  margin-left: 0em;
}

#s2:checked ~ .slides > .memes1 {
  margin-left: -25%;
}

#s2:checked ~ .nav > .text-content .mem-text:first-child {
  margin-left: -40em;
}

#s3:checked ~ .slides > .memes1 {
  margin-left: -50%;
}

#s3:checked ~ .nav > .text-content .mem-text:first-child {
  margin-left: -20em;
}

#s4:checked ~ .slides > .memes1 {
  margin-left: -75%;
}

#s4:checked ~ .nav > .text-content .mem-text:first-child {
  margin-left: 0em;
}

#s1:checked ~ .nav label[for="s1"] .div_1 {
  background-color: transparent;
}

#s1:checked ~ .nav label[for="s1"] .div_1 .div_2 {
  background-color: rgb(77, 6, 71);
}

#s2:checked ~ .nav label[for="s2"] .div_1 {
  background-color: transparent;
}

#s2:checked ~ .nav label[for="s2"] .div_1 .div_2 {
  background-color: rgb(77, 6, 71);
}

#s3:checked ~ .nav label[for="s3"] .div_1 {
  background-color: transparent;
}

#s3:checked ~ .nav label[for="s3"] .div_1 .div_2 {
  background-color: rgb(77, 6, 71);
}

#s4:checked ~ .nav label[for="s4"] .div_1 {
  background-color: transparent;
}

#s4:checked ~ .nav label[for="s4"] .div_1 .div_2 {
  background-color: rgb(77, 6, 71);
}

@media screen and (max-width: 768px) {
  .slides {
    margin-bottom: 0em;
  }

  .nav {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -8em;
  }
  .memes1 {
    background: url("./img/11.jpg");
    background-position: -2em 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .memes2 {
    background: url("./img/12.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .memes3 {
    background: url("./img/13.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .memes4 {
    background: url("./img/14.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slider {
    min-width: 22em;
    height: 38em;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -1em;
  }
  .mem-text {
    margin-top: 1em;
  }

  .slider {
    width: 22em;
    height: 36em;
    margin: auto 0.1em;
  }
}
